@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #AD2746;
    --background2: #E4546F, 
    --foreground: #ededed;
  }
}

body {
  background: radial-gradient(50% 50% at 50% 50%, #E4546F 0%, #AD2746 100%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
